In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('shop data.csv')

In [3]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [4]:
x=df.iloc[:,:-1]

In [5]:
x

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single

In [6]:
y=df.iloc[:,4]

In [7]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le_x=LabelEncoder()

In [17]:
x=x.apply(le_x.fit_transform)

In [18]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
import numpy as np

In [21]:
dtf=DecisionTreeClassifier()

In [23]:
dtf.fit(x,y)

DecisionTreeClassifier()

In [24]:
#xinput=np.array([1,1,0,0])

In [27]:
ypredict=dtf.predict([1,1,0,0])

ValueError: Expected 2D array, got 1D array instead:
array=[1. 1. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [28]:
ypredict

array(['yes'], dtype=object)