In [10]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [11]:
df=pd.read_csv('car_risk.csv')

In [12]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [13]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [14]:
a=df.experience.median()

In [15]:
a

5.0

In [16]:
df.experience=df.experience.fillna(a)

In [17]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [18]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [23]:
reg=linear_model.LinearRegression()

In [24]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [25]:
reg.predict([[160,10,5]])

array([71.37146872])